*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(circle, #0b0231, #2c0cce); 
  font-family: 'Arial', sans-serif;
}

header h1 {
  font-family: 'Mate SC', sans-serif;
  font-size: 36px;
  margin-top: 40px;
}

.card {
  border-radius: 10px; 
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(99, 33, 33, 0.1); 
  transition: transform 0.3s ease, box-shadow 0.3s;
  border: 2px solid rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px yellow;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 22px;
  font-weight: bold;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-number {
  cursor: pointer;
  padding: 5px 15px;
  margin: 5px;
  border-radius: 5px;
  background: red;
  color: white;
  transition: 0.3s;
}

.page-number:hover,
.active-page {
  background: rgb(193, 196, 12);
  color: black;
  font-weight: bold;
}

.btn {
  font-weight: bold;
  transition: transform 0.2s, box-shadow 0.2s;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px yellow;
}

input {
  border: 2px solid;
}

